<h1><%= @place["name"] %></h1>

<ul>
  <% for post in @posts %>
    <li>
      <a href="/posts?id=<%= posts.place_id %>"> <%= posts["title"] %> </a>
    </li>
  <% end %>
</ul>


<p><a href="/posts/new?id=<%= @place.id %>">New post for <%= @place.name %>
</a></p>

<p> Not able to get the posts to show per place </p>


<p><a href="/places/">Back to places</a></p>